@mixin flexParam($vCent: center, $hCent: center, $dir: row) {
  display: flex;
  justify-content: $hCent;
  align-items: $vCent;
  flex-direction: $dir;
}
@mixin posAbsolute($top: 0, $bottom: unset, $left: 0, $right: unset) {
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}
@mixin blurModal() {
  background: rgba(black, 75%);
  filter: blur(5px) brightness(30%);
  transition: all $hoverTime ease;
}

// vars
$hoverTime: 350ms;
$btn_radius: 4px;
