@use "mixins";

.overlay {
  @include mixins.flexParam(center, unset, column);
  @include mixins.posAbsolute(0, unset, 0, unset);
  z-index: 1;
  // overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 2rem 5rem;
  font-size: 140%;
  text-align: center;
  transition: opacity mixins.$hoverTime ease, transform mixins.$hoverTime ease;
  opacity: 1;
  visibility: visible;
  transform: translatey(0px);

  h2 {
    @include mixins.flexParam(center, center, column);
    margin-bottom: 0.9rem;

    &::after {
      margin-top: 0.5rem;
      height: 4px;
      width: 30%;
      background: red;
    }
  }
  h3 {
    padding-block: 0.95rem;
  }

  &-hidden {
    @include mixins.posAbsolute(0, unset, 0, unset);
    opacity: 0;
    visibility: hidden;
    transform: translatey(20px);
    transition: opacity mixins.$hoverTime ease;
  }
}
#close-btn {
  $btnOffset: 1.5rem;
  position: fixed;
  top: $btnOffset;
  right: $btnOffset;
  padding: 0.35rem 0.85rem;
  background: transparent;
  color: white;
  border: 2px solid white;
  transition: all mixins.$hoverTime ease;
  border-radius: mixins.$btn_radius;
  cursor: pointer;

  &:hover {
    border-color: red;
    color: red;
    box-shadow: 0 0 12px rgba(red, 50%);
    text-shadow: 0 0 12px rgba(red, 50%);
    transform: scale(1.15);
  }
}
