@use "./public/scss/mixins";
@use "./public/scss/card";
@use "./public/scss/overlay";

// vars
$hoverTime: 350ms;
$btn_radius: 4px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  content: "";
  display: block;
}
html,
body {
  height: 100%;
}
body {
  background: rgba(black, 88%);
  color: rgba(white, 90%);
  z-index: -10;
  font-family: "Lato", sans-serif;
  overflow: hidden !important;
}
p {
  font-size: 90%;
}
a {
  text-decoration: none;
  color: inherit;
}
div,
span {
  display: block;
}
main {
  flex: 1 0 auto;
}
// Detects if viewport height is <700px
@media only screen and (max-height: 768px) {
  .vp-small {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .card-wrap {
    opacity: 0;
    visibility: hidden;
  }
}
.vp-small {
  @include mixins.posAbsolute();
  @include mixins.flexParam(center, center, row);
  opacity: 0;
  visibility: hidden;
  background: rgba(black, 75%);
  height: 100%;
  width: 100%;
  z-index: 9999;
  transition: all mixins.$hoverTime ease;
}
.background {
  @include mixins.posAbsolute(0, unset, 0, unset);
  opacity: 0.75;
  filter: opacity(75%);
  z-index: -9;
  width: 100%;
}

// Footer

.ftr-wrap {
  @include mixins.posAbsolute(unset, 0, 0, unset);
  width: 100%;
  opacity: 0.4;
  filter: opacity(40%);
  transform: translatey(10px);
  transition: opacity mixins.$hoverTime ease, filter mixins.$hoverTime ease,
    transform mixins.$hoverTime ease;

  &:hover,
  &:focus {
    opacity: 1;
    filter: opacity(100%);
    transform: translatey(0);
  }
  animation: commsFooterPop 2.5s ease;
}
@keyframes commsFooterPop {
  0% {
    transform: translatey(60px) rotatex(100deg);
    opacity: 1;
    filter: opacity(100%);
  }
  60% {
    transform: translatey(55px) rotatex(100deg);
  }
  75% {
    transform: translatey(10px) rotatex(0deg);
    opacity: 1;
    filter: opacity(100%);
  }
  100% {
    transform: translatey(10px) rotatex(0deg);
    opacity: 0.4;
    filter: opacity(40%);
  }
}
comms-footer {
  color: gray;
  transition: color mixins.$hoverTime ease;

  &:hover {
    color: white;
  }
  animation: commsFooterPopInner 2.5s ease;
}
@keyframes commsFooterPopInner {
  0% {
    color: white;
  }
  75% {
    color: white;
  }
  100% {
    color: gray;
  }
}
