@use 'scss/mixins';
@use 'scss/card';
@use 'scss/overlay';
@use 'scss/footer';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::before,
*::after {
	content: "";
	display: block;
}
html,
body {
	height: 100%;
}
body {
	background: rgba(black, 88%);
	color: rgba(white, 90%);
	z-index: -10;
	font-family: "Lato", sans-serif;
	overflow: hidden !important;
}
p {
	font-size: 90%;
}
a {
	text-decoration: none;
	color: inherit;
}
div,
span {
	display: block;
}
main {
	flex: 1 0 auto;
}
// Detects if viewport height is <700px
@media only screen and (max-height: 768px) {
	.vp-small {
		opacity: 1 !important;
		visibility: visible !important;
	}
	.card-wrap {
		opacity: 0;
		visibility: hidden;
	}
}
.vp-small {
	@include mixins.posAbsolute();
	@include mixins.flexParam(center, center, row);
	opacity: 0;
	visibility: hidden;
	background: rgba(black, 75%);
	height: 100%;
	width: 100%;
	z-index: 9999;
	transition: all mixins.$hoverTime ease;
}
.background {
	@include mixins.posAbsolute(0, unset, 0, unset);
	opacity: 0.75;
	filter: opacity(75%);
	z-index: -9;
	width: 100%;
}
