@mixin position($top: null, $bottom: null, $left: null, $right: null) {
  position: absolute;

  @supports (inset: $top $bottom $left $right) {
    inset: $top $bottom $left $right;
  }

  @supports not (inset: $top $bottom $left $right) {
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
  }
}

@mixin position-top {
  @include position(0, null, null, null);
}